.background {
  width: 100%;
  height: 100%;
  background-color: var(--color-background);
  padding-left: 1rem;
}

.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  width: 41.09%;
  height: 1000;
  padding-left: 3rem;
  background-color: antiquewhite;
}

.titleText {
  font-size: 3rem;
  font-family: "SuperSquadItalic", sans-serif;
  justify-self: center;
  margin-top: 2rem;
  align-self: start;
  color: var(--color-text);
}

.titleContainer {
  display: flex;
  justify-content: center;
  background-color: var(--color-Title);
  width: 41.8rem;
  height: 10rem;
  border-radius: .1rem;
  border-bottom: 0.3rem solid black;
}

.messageText {
  padding-top: 2rem;
  font-size: 2rem;
  color: var(--color-About);
}

.chatContainer {
  background-color: beige;
}

.disclaimerText {
  font-size: 1rem;
  color: var(--color-text)
}