:root {
  --color-Title: #FFB200;
  --color-Button: #8FD14F;
  --color-About: #FF6600;
  --color-background: #F3F4F6;
  --color-text: #000000;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color-Title: #FFB200;
    --color-Button: #8FD14F;
    --color-About: #FF6600;
    --color-background: #F3F4F6;
    --color-text: #000000;
  }
}

@font-face{
  font-family: "SuperSquad";
  src: url('./assets/fonts/SuperSquad.ttf') format('truetype');
}

@font-face{
  font-family: "SuperSquadItalic";
  src: url('./assets/fonts/SuperSquadItalic.ttf') format('truetype');
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, "SuperSquad", "SuperSquadItalic";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 1420px) {
  :root {
    --proportions-Normal: 1, 1, 1;
  }
}